In [18]:
import pandas as pd

### Read data

In [19]:
run '/Users/rodolfobarillas/Documents/Programación/Datacience/cookicutter/final_project/notebooks/Dowload_read_processdata/0.0-rudolfd-dowload_data.ipynb'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1532k  100 1532k    0     0   882k      0  0:00:01  0:00:01 --:--:--  883k50k      0  0:00:01  0:00:01 --:--:--  952k

In [20]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [21]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1014 entries, Province/State to 10/27/22
dtypes: float64(2), int64(1010), object(2)
memory usage: 2.2+ MB

In [22]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/18/22,10/19/22,10/20/22,10/21/22,10/22/22,10/23/22,10/24/22,10/25/22,10/26/22,10/27/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,201503,201557,201750,201949,202026,202108,202199,202347,202509,202608
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,332673,332701,332719,332739,332754,332772,332776,332816,332847,332889
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,270766,270768,270769,270771,270771,270783,270788,270800,270810,270817
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,46366,46449,46449,46449,46449,46449,46449,46449,46535,46535
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,103131,103131,103131,103131,103131,103131,103131,103131,103131,103131