In [7]:
import janitor
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [8]:
run '/Users/rodolfobarillas/Documents/Programación/Datacience/cookicutter/final_project/notebooks/Dowload_read_processdata/0.0-rudolfd-dowload_data.ipynb'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1536k  100 1536k    0     0   119k      0  0:00:12  0:00:12 --:--:-- 94177  0:00:12  0:00:09  0:00:03  130k

In [9]:
run '/Users/rodolfobarillas/Documents/Programación/Datacience/cookicutter/final_project/notebooks/Dowload_read_processdata/0.1-rudold-read_data.ipynb'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1536k  100 1536k    0     0   102k      0  0:00:14  0:00:14 --:--:--  112k:00:15  0:00:10  0:00:05 97935
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1016 entries, Province/State to 10/29/22
dtypes: float64(2), int64(1012), object(2)
memory usage: 2.2+ MB

In [10]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

### Save output data

In [11]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [12]:
processed_df.to_csv(output_covid_file, index=False)